/* ==== BOARD COMPONENT ====  */

.projects__board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: var(--bg-light);
}

.column{
  margin:10px;
  padding:10px 10px 60px 10px;
  border: 2px dotted rgba(0,0,0,.0);
}

.column__header-title{
  text-transform:capitalize;
  background: var(--red);
  padding:5px 0 5px 7px;
  color:var(--white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.column__card{
  padding:10px;
  margin: 15px 0 0 0;
  border-top: 3px solid var(--red);
  box-shadow: 2px 3px 13px rgba(0,0,0,.3);
  cursor: pointer;
  transition: all .3s;
  background:var(--white);
}

.column__card:hover{
  box-shadow: 2px 3px 23px rgba(0,0,0,.7);
  cursor: pointer;
  /* transform: rotate(-2deg); */
}

.dark-bg{
  /* background:#ddd; */
  border: 2px dotted rgba(0,0,0,.3);
}

@media(max-width:480px){
  .board {
    overflow-x: scroll;
  }
}